In [25]:
inputfile_path = "input_file.csv"
outputfile_path = "output_file.csv"

file = open(inputfile_path).read()

with open(inputfile_path, "r") as infile:
    content = infile.read()

with open(outputfile_path, "w", encoding="utf-8") as outfile:
    outfile.write(content)

In [37]:

import pandas as pd

# 15줄까지는 머리말이라 잘라줌

df = pd.read_csv(outputfile_path, skiprows=15)
df.describe()

,NO,본번,부번,전용면적(㎡),계약년월,계약일,월세금(만원),층,건축년도,종전계약 월세(만원)
count,874.000000,874.000000,874.000000,874.000000,874.000000,874.000000,874.000000,874.000000,874.000000,131.000000
mean,437.500000,270.906178,31.216247,46.270469,202306.707094,15.749428,22.474828,2.671625,2005.030892,12.564885
std,252.446364,130.244929,41.596520,16.266761,3.384659,8.478808,31.471326,1.594936,11.024817,22.237563
min,1.000000,1.000000,0.000000,10.900000,202301.000000,1.000000,0.000000,-1.000000,1977.000000,0.000000
25%,219.250000,280.000000,7.250000,33.887500,202304.000000,8.000000,0.000000,2.000000,1997.000000,0.000000
50%,437.500000,318.500000,19.000000,44.935000,202307.000000,16.000000,0.000000,3.000000,2004.000000,0.000000
75%,655.750000,344.750000,31.000000,57.937500,202309.000000,23.000000,45.000000,4.000000,2014.000000,15.500000
max,874.000000,489.000000,242.000000,112.800000,202312.000000,31.000000,170.000000,7.000000,2022.000000,86.000000

In [61]:
filtered = df[df["전월세구분"] == "전세"]

In [68]:
uq = filtered["계약년월"].unique()

In [69]:
print(uq)

[202312 202311 202310 202309 202308 202307 202306 202305 202304 202303
 202302 202301]

In [96]:
print(filtered["보증금(만원)"])

0      23000
1      15600
7      22300
9      11500
21     16000
       ...
868    20000
870    20000
871     9450
872    20000
873    10000
Name: 보증금(만원), Length: 477, dtype: int64

In [97]:
df1 = filtered.groupby("계약년월")

In [98]:
df1.head(1)

,NO,시군구,번지,본번,부번,건물명,전월세구분,전용면적(㎡),계약년월,계약일,...,월세금(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,1,서울특별시 서대문구 북가좌동,307-15,307,15,이지라이프빌,전세,29.94,202312,30,...,0,3,2018,거북골로20길 6,202402~202602,신규,-,NaN,NaN,연립다세대
67,68,서울특별시 서대문구 북가좌동,346-2,346,2,영재하이빌,전세,83.83,202311,29,...,0,4,2005,거북골로24길 37-8,202401~202601,신규,-,NaN,NaN,연립다세대
143,144,서울특별시 서대문구 북가좌동,349-29,349,29,한양빌라,전세,48.15,202310,31,...,0,2,1991,거북골로23길 34,202311~202511,신규,-,NaN,NaN,연립다세대
214,215,서울특별시 서대문구 북가좌동,314-35,314,35,백송빌라,전세,74.34,202309,27,...,0,5,2003,거북골로20길 33-37,202310~202510,신규,-,NaN,NaN,연립다세대
315,316,서울특별시 서대문구 북가좌동,369-24,369,24,(369-24),전세,41.55,202308,29,...,0,2,1988,거북골로21길 42,202310~202510,신규,-,NaN,NaN,연립다세대
415,416,서울특별시 서대문구 북가좌동,351-25,351,25,샤론그린빌라,전세,45.50,202307,31,...,0,1,1992,증가로28길 60,202307~202507,갱신,-,"14,400",0.0,연립다세대
480,481,서울특별시 서대문구 북가좌동,291-21,291,21,한신홈타운,전세,62.95,202306,29,...,0,5,2014,증가로23길 6,202309~202509,신규,-,NaN,NaN,연립다세대
537,538,서울특별시 서대문구 북가좌동,369-27,369,27,희망빌라,전세,71.44,202305,31,...,0,3,1983,거북골로21길 34,202305~202505,신규,-,NaN,NaN,연립다세대
597,598,서울특별시 서대문구 북가좌동,342-17,342,17,(342-17),전세,34.92,202304,30,...,0,2,1986,불광천길 220,-,-,-,NaN,NaN,연립다세대
667,668,서울특별시 서대문구 북가좌동,344-15,344,15,동화빌라(344-15),전세,39.05,202303,29,...,0,5,2011,증가로31길 32,202306~202506,신규,-,NaN,NaN,연립다세대
738,739,서울특별시 서대문구 북가좌동,311-13,311,13,대림에코빌,전세,35.37,202302,28,...,0,3,2013,거북골로20길 63-41,202304~202504,신규,-,NaN,NaN,연립다세대
821,822,서울특별시 서대문구 북가좌동,383-13,383,13,영광빌라,전세,43.06,202301,31,...,0,3,2007,수색로10길 6-10,202302~202502,신규,-,NaN,NaN,연립다세대

In [101]:

df2 = filtered.groupby("계약년월")["보증금(만원)"].agg(["count", "mean", "min", "max"])

In [102]:
print(df2)

        count          mean    min    max
계약년월
202301     30  19346.666667   6500  32000
202302     50  18141.600000   4000  33000
202303     36  18582.916667   7000  31500
202304     36  17666.666667   2500  29000
202305     36  18062.500000   9550  31000
202306     29  18065.517241   7000  26000
202307     39  17596.897436   3000  30000
202308     51  18009.764706   7000  28000
202309     55  18076.363636   6000  30000
202310     45  17492.222222   6000  38000
202311     38  18319.736842   5000  41000
202312     32  18443.750000  11000  33000